*{
	box-sizing: border-box;
	outline: none;
}
input, button{
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
button:hover , a:hover {
	cursor: pointer;
}
a {
	text-decoration: none;
	outline: none;
}
ul{
	padding: 0;
	margin: 0;
	list-style: none;
}
img{
	max-width: 100%;
	height: auto;
	display: block;
}
p{
	margin: 0;
}
h1{
	font: 600 4.0625rem/ 4.375rem 'Graphik LCG';
	margin: 0;
}
h2{
	font: 600 3.125rem/ 3.75rem 'Graphik LCG';
	margin: 0;
}