@import url(normalizecss.css);
@import url(variables.css);
@import url(../fonts/stylesheet.css);
@import url(general.css);

body {
	font-family: 'Graphik LCG';
	font-size: 16px;
	font-weight: normal;
	font-style: normal;
	overflow-x: hidden;
}
.wrapper{
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-flow: column nowrap;
}
.header{
	position: fixed;
	top: 0;
	left: 0;
	border-bottom: 1px solid var(--light-grey);
	background-color: var(--white);
	width: 100%;
}
.header__container{
	width: 90%;
	margin: 0 auto;
}
.header__row {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	z-index: 2;
	padding: 26px 0 34px;
	margin: 0 auto;
}
.header__logo {
	flex: 0 0 131px;
}
.header__logo img {
	width: 100%;
	height: auto;
}
.header__nav-burger{
	display: none;
}
.header__body {
	display: flex;
	flex: 1 1 auto;
	justify-content: space-between;
	align-items: center;
}
.nav{
	display: flex;
	margin: 0 51px;
} 
.nav__item {
	margin: 0 20px;
	text-align: center;
	font: 400 0.9375rem/1.25rem 'Graphik LCG';
	height: 1.25rem ;
	overflow: hidden;
	color: var(--black) ;
	border-bottom: 1px solid transparent;
	transition: ease-in-out all 0.2s; 
}
.nav__item:hover , .nav__item:active {
	border-bottom: 1px solid var(--orange);
}
.header__buttons {
	display: flex;
	column-gap: 10px;	
}


.button {
	font-weight: 600;
	text-align: center;
	padding: 0 21px;
	transition: ease-in-out all 0.2s;
}
.button_color_white {
	color: var(--black);
	background-color: var(--white);
	border: 1px solid var(--black);
	line-height: 2.8125rem;
}
.button_color_white:hover , .button_color_white:active {
	color: var(--white);
	background-color: var(--black);
	border: 1px solid var(--white);
}
.button_color_orange {
	color: var(--white);
	background-color: var(--orange);
	line-height: 2.8125rem;
	border: 1px solid var(--orange);
}
.button_color_orange:hover , .button_color_orange:active {
	color: var(--orange);
	background-color: var(--white);
	border: 1px solid var(--orange);
}
.button_color_black {
	color: var(--white);
	background-color: var(--black);
	line-height: 3.75rem;
	border: 1px solid var(--black);
}
.button_color_black:hover , .button_color_black:active {
	color: var(--black);
	background-color: var(--white);
	border: 1px solid var(--white);
}
.button_size_small {
	max-width: 120px;
	width: 120px;
}
.button_size_medium {
	max-width: 160px;
	width: 160px;
}
.button_size_large {
	max-width: 196px;
	width: 196px;
}


.demo__container {
	max-width: 88%;
	margin: 0 auto;
	padding: 250px 0 182px;
}
.demo__row{
	display: flex;
	flex-flow: row nowrap;
}
.demo__body {
	flex: 1 1 auto;
	display: flex;
	flex-flow: column nowrap;
}
.demo__body p{
	font: 400 1.5625rem/ 2.1875rem 'Graphik LCG';
	margin: 51px 68px 51px 0;
}
.demo__buttons {
	display: flex;
	flex-flow: row nowrap;
	column-gap: 10px;
	margin: 0 0 25px;
}
.demo__postscript {
	font: 400 0.9375rem/1.5625rem  'Graphik LCG' ;
}
.demo__img  {
	flex: 0 0 58%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.demo__img img {
	width: 100%;
	height: auto;
}


.container{
	max-width: 86%;
	margin: 0 auto;
}

.clients {
	background-color: var(--coral);
}
.clients__row{
	padding: 108px 0 120px;
	display: flex;
	flex-flow: column nowrap;
	row-gap: 80px;
	align-items: center;
}
.clients__title {
	max-width: 50%;
	text-align: center;
}
.clients__img-container {
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: space-between;
}
.clients__img{
	flex: 0 1 10%;
	display: flex;
	margin: 0 35px
}
.clients__img a{
	width: 100%;
}
.clients__img a img{
	width: 100%;
}


.preference__row{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	padding: 90px 0 150px;
	column-gap: 138px
}
.preference__body {
	display: flex;
	flex-flow: column nowrap;
	row-gap: 30px;
	flex: 0 1 auto;
	justify-content: center;
}
.preference__text {
	font: 400 1.25rem/1.875rem  'Graphik LCG' ;
}
.preference__link {
	color: var(--black);
	transition: ease-in-out all 0.2s;
	font: 600 1.25rem/1.875rem  'Graphik LCG' ;
}
.preference__link:hover , .section__link:active{
	color: var(--orange);
}
.preference__img {
	flex: 0 0 49%;
	display: flex;
	align-content: center;
}
.preference__img img{
	width: 100%;
}
.preference:nth-of-type(even) .preference__row {
	flex-direction: row-reverse;
}
.link-underlined{
	border-bottom: 1.5px solid var(--black);
	transition: ease-in-out all 0.2s;
}
.link-underlined:hover , .link-underlined:active {
	border-bottom: 1.5px solid var(--orange);
}


.localizable{
	background-color: var(--yellow);
}
.localizable__row{
	display: flex;
	flex-flow: column nowrap;
	row-gap: 79px;
	padding: 120px 0 147px;
}
.localizable__heading{
	text-align: center;
}
.localizable__body{
	display: flex;
	flex-flow: row wrap;
	row-gap: 75px;
	column-gap: 100px;
	justify-content: space-evenly;
	align-items: flex-start;
}
.localizable__section {
	flex: 0 0 25%;
	display: flex;
	flex-flow: column nowrap;
	row-gap: 20px;
	align-items: center;
}
.localizable__img {
	height: 120px;
}
.localizable__heading {
	font: 600 1.5625rem/2.1875rem  'Graphik LCG' ;
	text-align: center;
}
.localizable__text {
	font: 400 1.125rem/1.5625rem  'Graphik LCG' ;
	text-align: center;
}


.team__row {
	padding: 155px 0 185px;
	display: flex;
	flex-flow: column wrap;
	row-gap: 75px;
}
.team__header {
text-align: center;
}
.team__body {
	display: flex;
	flex-flow: row nowrap;
	column-gap: 30px;
}
.team__section{
	display: flex;
	flex-flow: column nowrap;
	align-items: flex-start;
}
.team__img {
	height: 250px;
	align-items: center;
	justify-content: flex-start;
	display: flex;
}
.team__heading {
	font: 600 1.875rem/2.5rem  'Graphik LCG' ;
	margin: 0 0 34px 0;
}
.team__text {
	font: 400 1.25rem/1.875rem  'Graphik LCG' ;
	margin: 0 0 25px 0;
}
.team__link a{
	color: var(--black);
}
.team__link {
	font: 400 1.25rem/1.875rem  'Graphik LCG' ;
	border-bottom: 1.5px solid var(--black);
	transition: ease-in-out all 0.2s;
}
.team__link:hover , .team__link:active {
	border-bottom: 1.5px solid var(--orange);
}


.quote {
	background-color: var(--blue);
}
.quote__row{
	padding: 63px 0 105px;
	display: flex;
	flex-flow: row nowrap;
	column-gap: 60px;
}
.quote__body {
	flex: 1 1 auto;
	display: flex;
	flex-flow: column nowrap;
}
.quote__text {
	font: 400 1.875rem/2.5rem 'Graphik LCG' ;
	margin: 0 0 23px 0;
}
.quote__author {
	font: 400 0.9375rem/1.5625rem 'Graphik LCG' ;
}
.quote__logo {
	max-width: 10%;
	width: 10%;
}
.quote__img {
	flex: 0 0 23%;
}
.quote__img img{
	width: 100%;	
}


.rating {
	background-color: var(--brown);
}
.rating__row{
	padding: 80px 0 85px;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: flex-start;
	column-gap: 65px;
}
.rating__img {
	flex: 0 0 10%;
}
.rating__heading {
	font: 600 2.1875rem/3.125rem 'Graphik LCG' ;
	flex: 0 0 40%;
}
.rating__indicators {
	flex: 1 1 auto;
	display: flex;
	flex-flow: row nowrap;
	align-content: flex-start;
}
.rating__indicators::before{
	content: '';
	width: 1px;
	background-color: var(--black);
}
.rating-source {
	display: flex;
	flex-flow: column nowrap;
	flex: 0 0 25%;
	padding: 0 0 0 70px;
}
.rating-source__logo {
	height: 36px;
	margin-bottom: 20px;
}
.rating-source__stars::after{
	content: '★★★★★';
	display: block;
	font-size: 30px;
	line-height: 30px;
	padding-bottom: 15px;
}
.rating-source__description {
	font: 400 0.9375rem/1.5625rem 'Graphik LCG' ;
	text-transform: uppercase;
}


.integration__row {
	padding: 165px 0 160px;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
}
.integration__heading {
	font: 600 4.0625rem/4.6875rem 'Graphik LCG' ;
	text-align: center;
	flex: 0 0 55%;
}
.integration__subheading {
	font: 400 1.5625rem/ 1.875rem 'Graphik LCG';
	text-align: center;
	flex: 0 0 40%;
}
.integration__img {
	flex: 0 0 90%;
	display: flex;
	justify-content: center;
	margin: 25px 0 32px;
}
.integration__img img{
	width: 100%;
}
.integration__button button {
	line-height: 3.75rem;
}


.try-it {
	background-color: var(--coral);
}
.try-it__row{
	padding: 120px 0 150px ;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
}
.try-it__heading {
	font: 600 4.0625rem/4.6875rem 'Graphik LCG' ;
	text-align: center;
	max-width: 60%;
}
.try-it__subtitle {
	font: 400 1.25rem/ 1.875rem 'Graphik LCG';
	text-align: center;
	margin: 29px 0 54px;
}


.footer {
	background-color: var(--beige);
}
.footer__row{
	padding: 90px 0 48px;
	display: flex;
	flex-flow: column nowrap;
	row-gap: 95px;
}
.footer__body {
	display: flex;
	flex-flow: row nowrap;
	column-gap: 140px;
}
.footer__case {
	display: flex;
	flex-flow: column nowrap;
	flex: 0 0 25%;
}
.footer-case__heading {
	font: 600 2.5rem/ 3.125rem 'Graphik LCG';
}
.footer-case__img {
	width: 100%;
	margin: 28px 0 38px;
}
.footer-case__img img{
	width: 100%;
}
.footer-case__logo {
	width: 25%;
}
.footer-case__description {
	font: 400 1.25rem/1.875rem  'Graphik LCG' ;
	margin: 0 0 15px 0;
}
.footer__menu {
	display: flex;
	flex-flow: row wrap;
	flex: 1 1 auto;
	column-gap: 50px;
	row-gap: 50px;
}
.footer__menu-section {
	flex: 1 1 2%;
}
.footer__menu-title{
	font: 600 1.25rem/1.5625rem  'Graphik LCG' ;
	margin: 0 0 21px 0;
}
.footer__menu-item {
	font: 400 0.9375rem/0.9375rem  'Graphik LCG' ;
	margin: 0 0 15px 0;
}
.footer__menu-item a{
	color: var(--black);
	border-bottom: 1px solid transparent;
	transition: ease-in-out all 0.2s;
}
.footer__menu-item a:hover{
	border-bottom: 1px solid var(--black);
}
.footer__copyright {
	border-top: 1px solid var(--black);
	padding: 47px 0 0;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
}
.company__name{
	display: flex;
	flex-flow: row nowrap;
	flex: 0 0 30%;
	column-gap: 15px;
	align-items: center;
}
.company__logo {
	flex: 0 0 27%;
}
.company__description {
	flex: 1 1 auto;
	font: 400 0.75rem/0.9375rem  'Graphik LCG' ;
}
.company__copyright {
	font: 400 0.75rem/0.9375rem  'Graphik LCG' ;
	display: flex;
	flex: 0 0 auto;
	flex-flow: column nowrap;
	justify-self: flex-end;
}

@media (max-width:1280px) {
	body, html{
		font-size: 14px;
	}
	.demo__img {
		flex: 0 0 50%;
	}
	.demo__container {
		padding: 200px 0 132px;
	}
	.preference__row {
		column-gap: 80px;
	}
	.clients__title {
		max-width: 70%;
	}
	.preference__row {
		padding: 90px 0 90px;
	}
	.nav {
		flex-wrap: wrap;
		row-gap: 10px;
	}
	.rating__row {
		column-gap: 25px;
		row-gap: 50px;
	}
	.footer__body {
		column-gap: 50px;
	}
	.company__name {
	flex: 0 0 40%;
	}
}


@media (max-width:1024px) {
	.nav {
		flex: 1 1 auto;
	}
	.header__buttons {
		flex-wrap: wrap;
		row-gap: 10px;
		justify-content: flex-end;
		flex: 1 1 auto;
	}
	h1 {
		font: 600 3.5rem/ 4rem 'Graphik LCG';
		margin: 0;
	}h2 {
	font: 600 2.4rem/ 3.5rem 'Graphik LCG';
	}
	.demo__container {
		padding: 200px 0 100px;
	}
	.clients__row {
		padding: 100px 0 100px;
		display: flex;
		row-gap: 50px;
	}
	.clients__img-container {
		flex-flow: row wrap;
		row-gap: 30px;
	}
	.clients__img {
		flex: 0 1 16%;
		display: flex;
	}
	.preference__row {
		column-gap: 30px;
	}
	.preference__body {
		flex: 1 1 50%;
	}
	.preference__img {
		flex: 1 0 50%;
	}
	.localizable__row {
		padding: 100px 0 100px;
	}
	.localizable__body {
		column-gap: 50px;
	}
	.localizable__section {
	flex: 0 0 45%;
	}
	.localizable__img {
		height: 100px;
		max-width: 45%;
	}
	.team__row {
		row-gap: 35px;
	}
	.team__body {
		flex-flow: row wrap;
	}
	.team__section {
	flex: 0 1 47%;
	}
	.team__img {
		height: 200px;
	}
	.team__img img {
		height: 150px;
	}
	.team__row {
		padding: 100px 0 100px;
	}
	.team__body {
		row-gap: 50px;
	}
	.quote__text {
		font: 400 1.3em/1.8rem 'Graphik LCG';
	}
	.quote__row {
		padding: 63px 0 80px;
		column-gap: 30px;
	}
	.rating__row {
		padding: 60px 0 60px;
		flex-flow: row wrap;
		row-gap: 50px;
	}
	.rating__img {
		flex: 0 1 20%;
		margin: 0 auto;
	}
	.rating__heading {
		flex: 1 1 100%;
		text-align: center;
	}
	.rating__indicators::before{
		display: none;
	}
	.rating__indicators {
		justify-content: space-evenly;
	}
	.rating-source {
		padding: 0 ;
	}
	.integration__row {
		padding: 100px 0 100px;
	}
	.integration__heading {
		font: 600 3rem/3.6875rem 'Graphik LCG';
	}
	.try-it__row {
		padding: 100px 0 100px;
	}
	.try-it__heading {
		font: 600 3rem/3.6875rem 'Graphik LCG';
	}
	.try-it__subtitle {
		margin: 20px 0 20px;
	}
	.footer__menu-section {
		flex: 1 1 40%;
	}
	.footer__case {
		flex: 0 0 40%;
	}
	.footer-case__heading {
		font: 600 2.3rem/ 3.125rem 'Graphik LCG';
	}
	.company__name {
		flex: 0 0 50%;
	}
}

@media (max-width:768px) {
	body , html {
		font-size: 12px;
	}
	h1 {
		font: 600 3.5rem/ 4rem 'Graphik LCG';
		margin: 0;
	}h2 {
	font: 600 2.4rem/ 3.5rem 'Graphik LCG';
	}
	.header{
		justify-content: space-between;
		align-items: center;
		height: 89px;
	}
	.header__row {
		padding: 30px 0 30px
	}
	.header__body{
		position: fixed;
		top: 89px;
		right: -100%;
		width: 100%;
		max-width: 100%;
		height: 100%;
		background-color: var(--coral);
		flex-flow: column nowrap;
		justify-content: flex-start;
		justify-items: flex-start;
		align-items: center;
		padding: 50px 0;
		overflow: auto;
		row-gap: 30px;
	}
	.header__body.active{
		right: 0;
		transition: all 0.3s ease 0s;
	}
	.header__nav-burger{
		display: flex;
		position: relative;
		width: 30px;
		height: 20px;
		z-index: 3;
	}
	.header__nav-burger:before,
	.header__nav-burger:after,
	.header__nav-burger span {
		content: '';
		background-color: var(--black);
		position: absolute;
		width: 100%;
		height: 2px;
		left: 0;
		transition: all 0.3s ease 0s;
	}
	.header__nav-burger:before{
		top: 0;
	}
	.header__nav-burger:after{
		bottom: 0;
	}
	.header__nav-burger span{
		top: 9px;
	}
	.header__nav-burger.active:before{
		transform: rotate(45deg);
		top: 10px;
	}
	.header__nav-burger.active:after{
		transform: rotate(-45deg);
		bottom: 8px;
	}
	.header__nav-burger.active span {
		transform: scale(0);
	}
	.nav{
		flex-flow: column nowrap;
		padding: 0;
		align-items: center;
		flex: 0 1 auto;
	}
	.nav__item{
		width: 100%;
		font-size: 2rem;
		height: 2.5rem;
		line-height: 2.5rem;
	}
	.nav__item:hover , .nav__item:active {
		background-color: var(--white);
	}
	.header__buttons {
		justify-content: center;
		flex: 0 0 auto;

	}
	.header__buttons button {
	font: 600 1.5rem/2rem 'Graphik LCG';
	line-height: 3.5rem;
	max-width: 60%;
	width: 60%;
	}
	.header__buttons button:first-of-type{
		border: 1px solid #ffffff;
	}

	.demo__container {
	padding: 150px 0 100px;
	}
	.demo__row {
		flex-flow: row wrap;
		row-gap: 30px;
	}
	.demo__body p {
	margin: 30px 0 30px;
	}
	.demo__img {
	flex: 0 0 80%;
	margin: 0 auto;
	}
	.clients__row {
		padding: 80px 0 80px;
		display: flex;
		row-gap: 30px;
	}
	.preference__row {
		flex-wrap: wrap;
		padding: 50px 0 50px;
	}
	.localizable__row {
		padding: 80px 0 80px;
		row-gap: 30px;
	}
	.localizable__body {
		column-gap: 20px;
	}
	.localizable__section {
		flex: 1 1 47%;
	}
	.team__row {
		padding: 80px 0 80px;
	}
	.team__section {
		flex: 1 1 47%;
	}
	.rating__row {
		row-gap: 30px;
	}
	.integration__row {
		padding: 80px 0 80px;
	}
	.try-it__row {
		padding: 80px 0 80px;
	}
	.try-it__heading {
		max-width: 100%
	}
	.company__name {
		flex: 0 0 70%;
	}
}

@media (max-width:480px) {
	h1 {
		font: 600 2.7rem/ 3.2rem 'Graphik LCG';
		margin: 0;
	}h2 {
		font: 600 1.8rem/ 2.7rem 'Graphik LCG';
	}
	.demo__buttons {
		flex-flow: row wrap;
		row-gap: 10px;
	}
	.demo__container {
		padding: 120px 0 80px;
	}
	.clients__row {
		padding: 50px 0 50px;
		display: flex;
		row-gap: 30px;
	}
	.clients__title {
	max-width: 100%;
	}	
	.clients__img-container {
		justify-content: space-around;
	}
	.clients__img {
		flex: 0 1 35%;
		margin: 0;
	}
	.preference__row {
		row-gap: 30px;
	}
	.localizable__body {
		row-gap: 50px;
	}
	.team__section {
		flex: 1 1 47%;
		justify-content: center;
		align-items: center;
	}
	.quote__row {
		flex-flow: row wrap;
		row-gap: 30px;
	}
	.quote__img {
		flex: 0 0 30%;
	}
	.rating__img {
		flex: 0 1 30%;
	}
	.rating__heading {
		font: 600 1.6rem/2.8rem 'Graphik LCG';
	}
	.rating-source__stars::after {
		font-size: 25px;
		line-height: 25px;
	}
	.integration__row {
		padding: 50px 0 50px;
	}
	.integration__heading {
		font: 600 2.2rem/3rem 'Graphik LCG';
	}
	.integration__subheading {
		font: 400 1.3rem/ 1.5rem 'Graphik LCG';
	}
	.try-it__row {
		padding: 50px 0 50px;
	}
	.try-it__heading {
		font: 600 2.2rem/3rem 'Graphik LCG';
	}
	.footer__row {
		padding: 50px 0 50px;
		row-gap: 50px;
	}
	.footer__body {
		flex-flow: row wrap;
		row-gap: 50px;
	}
	.footer__case {
		flex: 0 0 100%;
	}
	.footer__menu-section {
		flex: 0 0 100%;
		text-align: center;
	}
	.footer__copyright {
		flex-flow: row wrap;
		row-gap: 20px;
		text-align: center;
	}
	.company__name {
		flex-flow: row wrap;
		flex: 0 0 100%;
		row-gap: 20px;
	}
	.company__logo {
		margin: 0 auto;
	}
	.company__copyright {
		flex: 0 0 100%;
	}	
}